In [2]:
import numpy as np
import pandas as pd

In [3]:
#讀取csv
df = pd.read_csv("/content/drive/MyDrive/資料集/全國大賽/20210817 train.csv")
df.head()

   SeqNo  F_1   F_2   F_3   F_4   F_5  ...   F_9  F_10  F_11  F_12  F_13    O
0      1    0  23.5  23.6  23.6  23.6  ...  23.5  22.6  23.3  23.1  22.3  0.0
1      2    0  23.5  23.6  23.6  23.6  ...  23.5  22.6  23.3  23.1  22.3 -0.6
2      3    0  23.5  23.5  23.6  23.6  ...  23.5  22.6  23.3  23.1  22.3  0.6
3      4    0  23.5  23.5  23.6  23.6  ...  23.5  22.6  23.3  23.1  22.3 -0.6
4      5    0  23.5  23.5  23.6  23.6  ...  23.5  22.6  23.3  23.1  22.3 -0.3

[5 rows x 15 columns]

In [4]:
df.isnull().sum()

SeqNo    0
F_1      0
F_2      0
F_3      0
F_4      0
F_5      0
F_6      0
F_7      0
F_8      0
F_9      0
F_10     0
F_11     0
F_12     0
F_13     0
O        0
dtype: int64

In [5]:
#四捨五入
new_df=np.round(df)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98072 entries, 0 to 98071
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SeqNo   98072 non-null  int64
 1   F_1     98072 non-null  int64
 2   F_2     98072 non-null  float64
 3   F_3     98072 non-null  float64
 4   F_4     98072 non-null  float64
 5   F_5     98072 non-null  float64
 6   F_6     98072 non-null  float64
 7   F_7     98072 non-null  float64
 8   F_8     98072 non-null  float64
 9   F_9     98072 non-null  float64
 10  F_10    98072 non-null  float64
 11  F_11    98072 non-null  float64
 12  F_12    98072 non-null  float64
 13  F_13    98072 non-null  float64
 14  O       98072 non-null  float64
dtypes: float64(13), int64(2)
memory usage: 11.2 MB

In [7]:
X = df.drop(['O'],axis=1)
Y = df['O']
X = np.array(X, dtype=int)

In [8]:
from xgboost import XGBRegressor

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2,random_state=1)
y_act = y_test
y_train = np.array(y_train, dtype=int)
y_test = np.array(y_test, dtype=int)

In [10]:
model = XGBRegressor(max_depth=10, n_estimators=1000, gamma=0.1, learning_rate=0.01)
model.fit(X_train,y_train)

[07:16:33] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0.1,
             importance_type='gain', learning_rate=0.01, max_delta_step=0,
             max_depth=10, min_child_weight=1, missing=None, n_estimators=1000,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [11]:
y_pred = model.predict(X_test)

In [12]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
mse = mean_squared_error(y_act,y_pred)
mae = mean_absolute_error(y_act,y_pred)
r2 = r2_score(y_act,y_pred)
print(mse)
print(mae)
print(r2)

0.7437428861069563
0.5855452123034345
0.9983197396847009

In [14]:
c1=[]
c1=abs(y_act-y_pred)

In [15]:
data = {'y_test':y_act,"y_pred":y_pred,"subtract":c1}

In [16]:
dataframe = pd.DataFrame(data)
dataframe.to_csv('/content/drive/MyDrive/test.csv',index=False)